@import "compass/utilities/general/clearfix";
@import "960/grid";

$ninesixty_columns: 16;

#wrapper
{
  @include grid_container;
  @include clearfix;
}

#header
{
  @include grid(16);
  @include clearfix;

  background: #fff;
}

#footer
{
  @include grid(16);
  @include clearfix;

  background: #ccc;
}

  #content
  {
    @include grid(10);
    @include clearfix;

    float: left;
    background: #fff;
  }

  #sidebar
  {
    @include grid(6);
    @include clearfix;

    float: right;
    background: #fff;
  }

h2.date-header {
    color: #ccc;
}

h3.entry-title {
    color: #133CAC;
}

a {
    text-decoration: none;
}

a:link {
    color: #476dd5;
    
}

a:visited {
    color: #6d89d5;
}

.post-labels a:link {
    color: #FFAD00;
}
