@import "compass/utilities/general/clearfix";
@import "960/grid";

$ninesixty_columns: 16;

#wrapper
{
  @include grid_container;
  @include clearfix;
}

#header
{
  @include grid(16);
  @include clearfix;

  background: #fff;
}

#footer
{
  @include grid(16);
  @include clearfix;

  background: #ccc;
}

  #content
  {
    @include grid(10);
    @include clearfix;

    float: left;
    background: #fff;
    border-style-right: solid;
    border-width-right: 1px;
  }

  #sidebar
  {
    @include grid(6);
    @include clearfix;

    float: right;
    background: #fff;
  }

h2.date-header {
    color: #ccc;
    font-size: 12pt;
}

h3.entry-title {
    color: #133CAC;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 0.3em;
}

a {
    text-decoration: none;
}

a:link {
    color: #476dd5;
    
}

a:visited {
    color: #6d89d5;
}

.post-labels a:link {
    color: #FFAD00;
}

.post-header {
    padding-bottom: 1.2em;
    font-size: 8pt;
}

.post-footer-line {
    padding-top: 1em;
    font-size: 8pt;
}

.post-outer {
    padding-bottom: 2em;
}

.inline-ad {
    padding-bottom: 2em;
}

.sidebar > * {
    display: block;
    margin-top: 2em;
}

.sidebar > *:first-child {
    margin-top: 0em;
}

.widget > h2 {
    margin-bottom: 0.5em;
    font-size: 14pt;
    font-weight: bold;
}

.titlewrapper > h1 {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 0.1em;
}

.descriptionwrapper {
    font-size: 12pt;
}

/* widget customizations */
.blog-list-container li {
    margin-left: 0pt;
}
.popular-posts ul {
    list-style-type: none;
}

.popular-posts li {
    margin-left: 5pt;
    padding-top: 0px;
    padding-bottom: 0px;
}

.about-me-image img {
    border-radius: 8px;
}
.about-me-image {
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}

.about-me-desc {
    position: relative;
    float: left;
    width: 210px;
    height: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.about-me-icons {
    position: absolute;
    bottom: 0;
}
